<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: head(_)}">
</head>
<body>
<div class="social-login text-center">
  <a th:href="@{/oauth2/authorization/google}" class="google btn btn-block">
    <span>Sign in with Google</span>
  </a>
  <a th:href="@{/oauth2/authorization/naver}" class="btn btn-block btn-">
    <span>Sign in with Naver</span>
  </a>
  <a th:href="@{/oauth2/authorization/myOAuth}" class="btn btn-block">
    <span>Sign in with myOAuth</span>
  </a>
</div>
</body>
</html>